

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {

  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

body {
  background-color: #89ef01;
  padding-top: 20px;
  padding-bottom: 20px;
  position:relative;
}

.navbar {
  margin-bottom: 20px;
}

a.navbar-brand {
  font-size:2.5em;
  margin:5px;
  font-family: 'Molle', cursive;
  border-radius:5px;
}

}
.img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#sites {
  display:flex;

  justify-content:center;
}

#tron {
  background-color: #01cd67;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
}

#button {
  background-color: #01ef89;
  color: #8901ef;
}
 #button:hover {
  background-color: #8901ef;
  color: #fff;
}

#foot {
  background-color: #01ef89;
  color: #8901ef;
  height: 40px;
  display:flex;
  align-items:flex-end;
  margin-bottom:-20px;
}

#navbar {
  background-color: #01ef89;
  color: #8901ef;
  border-radius: 5px;
}


#active {
  background-color: #01cd67;
  color: #8901ef;
}

#drop {
  background-color: #01ef89;
}

#drop:hover {
  background-color:#fff;
}

#drops {
  background-color: #01ef89;
}
h1 {
  font-style:oblique;
  font-family: 'Molle', cursive;
}

h5.panel-title {
  padding:20px;
  font-size:2em;
  font-weight:bold;
  font-family: 'Molle', cursive;
}
.panel {
  margin-top:0px;
}
.panel-heading {
  padding:0;
}

.panel-body {
  padding:0;
  background-color: #01cd67;
}

a.btn {
  font-size:1.5em;
  background-color: #01ef89;
  color: #8901ef;
  margin:20px;
  font-family: 'Molle', cursive;
  border-radius:33px;
}

a.btn:hover {
  background-color: #8901ef;
  color:#fff;
  border-radius:33px;
}

h5 {
  font-family: 'Molle', cursive;
  font-size:2em;
  text-align:center;
}

p {
  font-family: 'Shadows Into Light', cursive;
  font-style:italic;

  font-size:1.5em;
}
p.m-b {
  font-size:1.5em;
  padding:30px;
  text-align:center;
}

h2 {
  text-align:center;
  font-size:4em;
  font-family: 'Molle', cursive;
}

div.col-md-12 {
  background-color:#01cd67;
  border-radius:5px;
  padding:14px;
  margin:10px;
}
#bannerHome {
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-size: cover;
    background: url(../img/banner-home-image.jpg) no-repeat center;
    margin-top:-4px;
    margin-bottom:20px;
}

.nav-tabs>li>a {
  font-size:2em;
  background-color: #01ef89;
  color: #8901ef;
  margin:5px;
  font-family: 'Molle', cursive;
  border-radius:5px;
}

.nav-tabs>li.active>a {
  border: 0px solid #ddd;
}

.nav-tabs>li.active>a:hover {
  border: 0px solid #ddd;

}
